name: "godot-ci export"
on: push

env:
  GODOT_VERSION: 4.5.1
  EXPORT_NAME: tower-defense
  PROJECT_PATH: .

jobs:
  export:
    name: Export Game for Windows
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Build Docker Image
        run: docker build -t godot-builder .
      - name: Export Windows
        run: |
          mkdir -p build/windows
          docker run --rm -v "$(pwd):/workspace" godot-builder \
            godot --headless --verbose --export-release "Windows Desktop" "/workspace/build/windows/$EXPORT_NAME.exe"
      - name: Upload Windows
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: build/windows

  export-web:
    name: Export Game for Web
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Build Docker Image
        run: docker build -t godot-builder .
      - name: Export Web
        run: |
          mkdir -p build/web
          docker run --rm -v "$(pwd):/workspace" godot-builder \
            godot --headless --verbose --export-release "Web" "/workspace/build/web/index.html"
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          force_orphan: true
 